* {
    margin: 0;
    padding: 0;

  }
  
html, body {
    width: 100%;
    height: 3637px;
  }

.page-wraper {
    background-image: url('/assets/images/Item.png');
    height: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

.header {
    display: flex;
    height: 70px;
    
  }

.cabecalho {
    height: 70px;
    top: 10px;
    left: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 135.25;
    height: 42;
    top: 14px;
    left: 12px;
    margin: 0 405px 0 387px;

}

nav ul {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;    

} 

#home {
    color: #C19B76;
}

ul a {
    text-decoration: none;
    margin: 14px 12px;
    color: #FFFFFF;
}

  