@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", sans-serif;
}

.banner {
  height: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.header {
  display: flex;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 100 !important;
  transition: all 0.5s ease-in-out;
}

.header-bg {
  display: flex;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(6px);
  transition: all 0.5s ease-in-out;
}

.cabecalho {
  height: 70px;
  top: 10px;
  left: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 135.25;
  height: 42;
  top: 14px;
  left: 12px;
  cursor: pointer;
}

nav ul {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 2px;
  vertical-align: middle;
  text-transform: uppercase;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#home {
  color: #c19b76;
}

ul a {
  text-decoration: none;
  margin: 14px 12px;
  color: #ffffff;
}

/* Booking Reserva */

.container-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reserva {
  width: 1146px;
  height: 111px;
  background-color: #c19b76;
  display: flex;
  align-items: center;
  margin-top: -55px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.title {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  width: 201px;
  margin-left: 20px;
  font-family: serif;
  margin: 0 80px 0 20px;
  font-family: "DM Serif Text", serif;
}

.formulario {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 835px;
  font-family: "roboto", sans-serif;
}

label {
  margin-right: 20px;
}

form input,
select,
option {
  padding: 10px;
  width: 121px;
  height: 38px;
  border: 0;
  font-size: 13px !important;
  color: #212529 !important;
}

.form-select-1 {
  appearance: none;
  background-image: url("assets/images/border.png");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 10px auto;
}

.form-select-1 option {
  padding: 10px;
  width: 121px;
  height: 38px;
  border: 0;
  font-size: 13px;
  background-color: white;
  color: #333;
  padding: 10px;
}

.form-select-1 option:hover {
  background-color: #f0f0f0 !important;
}

.btn-form {
  height: 40px;
  width: 102px;
  border: 0;
  background-color: #262423;
  box-shadow: none;
  color: #fff;
}

.input-date {
  background-image: url("assets/images/arrow-right-solid.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 16px 16px;
  padding-left: 35px;
  width: 135px;
  height: 38px;
  border: 0;
  font-size: 13px;
}

form p {
  color: #ffffff;
  font-family: "roboto", sans-serif;
}

#room_type {
  width: 144px;
}

#guests,
#children {
  width: 91px;
}

#input-kid {
  width: 130px;
}

/* Sobre - Conteúdo */

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 874px;
  width: 100%;
}

.titulo-container {
  position: relative;
  display: inline-block;
}

.titulo-container::before {
  content: "SOBRE";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -65%);
  font-size: 100px;
  color: rgba(0, 0, 0, 0.05);
  z-index: 0;
  white-space: nowrap;
}

.titulo {
  position: relative;
  font-size: 32px;
  z-index: 1;
  color: #000;
}

.gold-line {
  height: 3px;
  width: 80px;
  background-color: #c19b76;
  border: none;
  opacity: 1;
  margin-bottom: 24px;
}

.content {
  width: 585px;
  height: 655px;
  display: block;
  align-items: start;
  justify-content: start;
  font-family: "DM Serif Text", serif;
  padding-left: 11px;
}

.d-title {
  font-size: 20px;
  margin-bottom: 24px;
}

.d-text {
  font-size: 14px;
  font-family: "roboto", sans-serif;
  color: #7c7c7c;
  margin-bottom: 24px;
}

.image-content {
  width: 641px;
  height: 693px;
}

.service-box {
  height: 290px;
  width: 560px;
}

.box {
  width: 268px;
  height: 129px;
  display: flex;
  background-color: #f6f7f8;
  align-items: center;
}

.box-1 {
  display: flex;
  background-color: #fff;
}

#box-rest {
  margin: 0 24px 30px 0;
}

#box-wifi {
  margin: 0 24px 0 0;
}

.box-2 {
  display: flex;
  background-color: #fff;
  align-items: center;
}

.box img {
  width: 60px;
  height: 67px;
  margin: 20px 10px 41px 20px;
}

.service {
  width: 158px;
  height: 89px;
  display: block;
}

.service h4 {
  font-size: 20px;
  color: #262423;
  margin-bottom: 0px;
}

.service p {
  font-size: 14px;
  margin: 0px;
  color: #7c7c7c;
  margin-bottom: 10px;
  font-family: "roboto", sans-serif;
}

.btn-service {
  margin-top: 30px;
  display: flex;
  border: none;
  background-color: #c19b76;
  height: 43px;
  width: 165px;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  line-height: 23px;
  padding-top: 10px;
  padding-left: 20px;
  align-items: start;
}

.p-line {
  height: 1px;
  width: 6px;
  padding-left: 29px;
}

/* Section 2 - Acomodações */

.section-full-2 {
  width: 100%;
  height: 922px;
  background-color: #f6f7f8;
}

.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-container-2 {
  position: relative;
  display: inline-block;
  font-family: "DM Serif Text", serif;
}

.titulo-container-2::before {
  content: "Acomodações";
  position: absolute;
  text-transform: uppercase;
  line-height: 46px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  font-size: 100px;
  color: rgba(0, 0, 0, 0.05);
  z-index: 0;
  white-space: nowrap;
}

.titulo-2 {
  position: relative;
  font-size: 40px;
  z-index: 1;
  color: #000;
  margin-top: 90px;
  font-family: "DM Serif Text", serif;
}

.gold-line-2 {
  height: 3px;
  width: 80px;
  background-color: #c19b76;
  border: none;
  opacity: 1;
}

.list-suites {
  display: flex;
  justify-content: center;
  align-items: center;
}

.acomodacoes {
  display: flex;
  gap: 15px;
  list-style: none;
  margin-top: 30px;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: #262423;
  justify-content: center;
}

.acomodacoes li {
  position: relative;
}

.acomodacoes li::after {
  content: "/";
  margin-left: 15px;
  color: #d2d2d2;
}

.acomodacoes li:last-child::after {
  content: "";
  margin: 0;
}

.acomodacoes a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.acomodacoes a:hover {
  color: #c19b76;
}

/* Esconde todos os itens por padrão */
.filterable-item {
  display: none;
}

/* Mostra os itens que têm a classe 'show' */
.filterable-item.show {
  display: block; /* Ou 'flex', dependendo do seu layout */
}

.acomodacoes a.active {
  color: #c19b76;
  transition: color 0.3s ease;
}

.container-room {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 1896px;
}

.quarto-card {
  position: relative;
  width: 618px;
  height: 499px;
  margin-right: 10px;
}

.quarto-card img {
  position: absolute;
  width: 588px;
  height: 367px;
  object-fit: cover;
  border-radius: 15px;
  z-index: 1;
}
.center-img {
  position: absolute;
  right: 0px;
}

.quarto-card:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
  z-index: 10;
}

.quarto-card:hover .center-img {
  position: absolute;
  left: 5px;
}

.conteudo-card {
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 588px;
  height: 375px;
  border: 3px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  z-index: 0;
}

.preco {
  font-size: 24px;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-left: 30px;
  color: #000;
}

.info {
  width: auto;
  display: flex;

  margin-bottom: 10px;
  margin-left: 30px;
}

.detalhes {
  font-size: 14px;
  color: #000000;
  display: flex;
  margin-top: 15px;
  align-items: center;
  gap: 8px;
}

.detalhes img {
  width: 12px;
  height: 14px;
  object-fit: contain;
}

.info strong {
  margin-left: 22px;
}

#adult {
  margin-right: 212px;
}

#adult img {
  height: 10px;
  width: 14px;
  margin-left: 4px;
}

button {
  background-color: #c19b76;
  width: 120px;
  height: 43px;
  color: #fff;
  border: none;
  padding: 5px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #a87e5f;
}

/* Footer - rodapé */

.container-footer {
  height: 473px;
  width: 100%;
  color: #999999;
  background-color: #150e07;
  display: flex;
  font-size: 14px;
}

.social {
  width: 1170px;
  height: 413px;
  display: flex;
  flex-direction: column;
  margin: 50px 375px;
  padding: 0 12px;
}

.newsletter {
  margin-top: 0;
  display: flex;
  flex-direction: row;
}
.news {
  width: 561px;
  height: 56px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

#content-modal-room {
  min-width: 600px;
  height: 400px;
  gap: 20px;
}

.modal-content {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation: aparecer 0.3s ease;
}

.modal-content p {
  margin: 0 0 15px;
  font-size: 20px;
  color: #999 !important;
}

@keyframes aparecer {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Botão fechar */
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}
.close:hover {
  color: red;
}

/* Botão OK */
.ok-btn {
  margin-top: 15px;
  padding: 8px 15px;
  border: none;
  background: #28a745;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.ok-btn:hover {
  background: #218838;
}

.social h4 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "DM Serif Text", serif;
}

.submit {
  width: 561px;
  height: 53px;
  margin-left: 24px;
}

.submit label {
  margin: 0;
}

.submit button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-line {
  height: 5px;
  margin-left: 5px;
}

.linha-vertical {
  width: 1px;
  height: 56px;
  background-color: #fff;
}

.container-footer hr {
  width: 1146px;
  margin-top: 60px;
  height: 2px;
  background-color: #d3d3d3;
  opacity: 0.5;
  border: none;
}

.media {
  display: flex;
  margin-top: 10px;
}

.newsletter input {
  width: 417px;
  height: 53px;
}

.newsletter button {
  width: 143px;
  height: 53px;
}

.company {
  background-color: #0d0904;
  color: #b7b7b7;
  width: 100%;
  font-size: 13px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-teste {
  margin: 0;
}

.links {
  margin-right: 24px;
  width: 268px;
}

.links img {
  margin: 15px 0 22px;
}

.links p {
  font-size: 14px;
  margin-bottom: 30px;
  color: #999999;
}
.links li {
  list-style: none;
  margin: 12px 0;
  padding-left: 0;
  font-size: 12px;
}

.links ul {
  padding: 0;
  margin: 28px 0 20px 0;
}

.social a {
  color: #c19b76;
  margin: 5px;
  text-decoration: none;
}

.contact {
  font-size: 14px;
}

.contact ul {
  list-style: none;
  padding: 0;
  margin-top: 28px;
}

.contact li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 12px;
}

.contact li i {
  font-size: 14px;
}

.d-flex p {
  font-size: 16px;
  font-weight: 500;
}
